@import "~styles";

@root-class: helper-text;

.@{root-class} {
  &__text {
    .text(13px; 1.2; @color: @gray-600);
    display: block;
    min-height: 21px;
    padding-top: 3px;
  }

  &.isDisabled {
    .@{root-class}__text {
      color: @gray-400;
    }
  }

  &.isError,
  &.isDisabled.isError {
    .@{root-class}__text {
      color: @error;
    }
  }
}
